body {
    background-color: lightcoral;
}

.ex1 {
    outline-style: solid;
    outline-width: 10px;
    outline-color: invert;
    outline-color: crimson;
    outline-offset: 10px;
    width: 400px;
    margin: 30px auto;
    border: 3px solid black;
    background-color: lightslategrey;
}