body {
    background-color: blueviolet;
}

/*Exemplo de grid-template-column: auto auto auto*/
.ex1 {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: auto auto auto;
    background-color: black;
}

.ex1 div {
    border: 1px solid black;
    height: 30px;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/*Exemplo de grid-template-column com valores misturados*/
.ex2 {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 200px 80px auto;
    background-color: black;
}

.ex2 div {
    border: 1px solid black;
    height: 30px;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/*Exemplo de grid-template-column com valores fracionados*/
.ex3 {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid template columns: repeat(3, 1fr); */
    background-color: black;
}

.ex3 div {
    border: 1px solid black;
    height: 30px;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/*Exemplo de grid-template-column com minmax */
.ex4 {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: minmax(180px, 1fr) 150px 150px;
    /*grid template columns: repeat(3, 1fr); */
    background-color: black;
}

.ex4 div {
    border: 1px solid black;
    height: 30px;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/*Exemplo de grid-template-rows com valores fixos */
.ex5 {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    background-color: black;
}

.ex5 div {
    border: 1px solid black;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

/*Exemplo de grid column-gap */
.ex6 {
    display: grid;
    padding: 5px;
    column-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: black;
}

.ex6 div {
    border: 1px solid black;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

/*Exemplo de grid crow-gap */
.ex7 {
    display: grid;
    padding: 5px;
    row-gap: 40px;
    grid-template-columns: auto auto auto;
    background-color: black;
}

.ex7 div {
    border: 1px solid black;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

/*Exemplo de grid gap */
.ex8 {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: auto auto auto;
    background-color: black;
}

.ex8 div {
    border: 1px solid black;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

/*Exemplo de grid gap */
.ex9 {
    display: grid;
    padding: 5px;
    gap: 10px 50px;
    grid-template-columns: auto auto auto;
    background-color: black;
}

.ex9 div {
    border: 1px solid black;
    background-color: crimson;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}