body {
    background-color: crimson;
    justify-items: center;
}

h1 {
    background-color:rgb(138, 43, 226)
    color: darkmagenta;
    border: 6px solid chocolate;
    /*opacity: 0.5;*/
}

h2{
    background-color: rgb(255, 0, 255);
    color: darkorchid;
    border: 4px solid cornsilk;
    /*opacity: 0.5;*/
}

p {
    background-color: rgb(0, 255, 255);
    color:black
    border: 3px solid lawngreen;
    /*opacity: 0.5;*/
}