body {
    background-color: rebeccapurple;
}

.ex1 {
    background-color: aqua;
    width: 200px;
    margin-top: 40px;
    margin-left: 100px;
}

.ex2 {
    width: 250px;
    background-color: white;
    margin: 100px auto;
}